.flex {
    display: flex;
}
.flex.horizontal {
    flex-direction: row;
}
.flex.vertical {
    flex-direction: column;
}
.flex.spaced {
    justify-content: space-around;
    vertical-align: baseline;
}
.flex.wrap {
    flex-wrap: wrap;
}
.flex.wrap-reverse {
    flex-wrap: wrap-reverse;
}
.flex.zigzag > :nth-child(even) {
    align-self: flex-end;
}
.flex.zigzag > :nth-child(odd) {
    align-self: flex-start;
}
.flex.zigzag.animate > * {
    transition: margin 1s ease;
}
.flex.zigzag.animate > :hover {
    margin: 0px 5%;
}
.big-flex {
    flex: .9;
}

.card {
    padding: 7px;
    background-color: white;
}
.card.zoomable {
    transition: transform 1s ease;
}
.card.zoomable:hover {
    transform: scale(1.1);
}
.card > img {
    transform: scale(1.1);
    margin-bottom: 12px;
    object-fit: cover;
}
.card>span {
    font-size: 12pt;
}
