.flex {
    display: flex;
}
.flex.horizontal {
    flex-direction: row;
}
.flex.vertical {
    flex-direction: column;
}
.flex.spaced {
    justify-content: space-around;
}
.flex > img,
.flexed-image {
    align-self: center;
}
.big-flex {
    flex: .9;
}