:root {
    --nav-bar-size: 63px;
}
#nav-bar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: var(--nav-bar-size);
    overflow: visible;
    z-index: 500;
}
#nav-buttons {
    background-color: #555555;
    position: absolute;
    align-items: center;
    left: 0px;
    right: 0px;
    justify-content: flex-end;
}
#nav-buttons img {
    margin-right: auto;
}
#nav-buttons > .nav-button {
    align-content: center;
}
.nav-button {
    padding: 10px;
    padding-right: 25px;
}
.nav-button > a {
    color: white;
    text-decoration: none;
}
.logo {
    display: block;
    height: var(--nav-bar-size);
    padding: 10px;
    object-fit: contain;
}