#pages {
    display: block;
    width: 99vw;
    background-color: rgba(0, 0, 0, 0);
}
/* #region Stile */
/* https://alligator.io/css/pure-css-parallax/ */
.parallax {
    perspective: 1px;
    height: 100vh;
    /* transform: translateZ(-1px) scale(1.5); */
}
.parallax div::before {
    content: " ";
    background-image: url(../imgs/artwork/the_abyss_map.png);
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 500vh;
    z-index: -1;
    transform: translateZ(-1px) scale(2.1);
}
/* #region Handdraw borders */
.handdrawn1,
.handdrawn2 {
    border: 2px solid black;
}
.handdrawn1 {
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
.handdrawn2 {
    border-top-left-radius: 25px 255px;
    border-top-right-radius: 255px 25px;
    border-bottom-right-radius: 15px 255px;
    border-bottom-left-radius: 255px 10px;
}
/* #endregion */
/* #endregion */
#pages-wrapper {
    overflow-y: auto;
    margin-top: var(--nav-bar-size);
}

.page-wrapper {
    display: block;
    height: 100vh;
}
.page {
    display: block;
    height: calc(100% - var(--nav-bar-size));
    padding: 1cm;
}
.page-wrapper:not(:first) > .page {
    margin-top: var(--nav-bar-size);
}

/* #region Home */
#home .page {
    background: url("../imgs/artwork/wallpaper.jpg");
}
#home .page img {

}
/* #endregion */

/* #region Trailer */
#trailer .page div {
}
/* #endregion */

/* #region Cast */
#characters {
}
#characters > .character > img {
    transform: scale(1.05);
    margin-bottom: 5px;
}
#characters > .character {
    padding: 5px;
    background-color: white;
}
#characters > .character > img {
    border-top: 1px solid black;
    z-index: 0;
}
#characters > .character:nth-child(even) img {
    border-top-left-radius: 255px 10px;
    border-top-right-radius: 10px 255px;
}
#characters > .character:nth-child(odd) img {
    border-top-left-radius: 255px 10px;
    border-top-right-radius: 10px 255px;
}
.character > * {
    font-size: 12pt;
}
/* #endregion */

#galeria + .page {
    background-color: darkcyan;
}

#criticas + .page {
    background-color: tomato;
}