#pages {
    display: block;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0);
}

/* #region Stile */

/* #region Parallax */
.parallax {
    perspective: 1px;
    height: 100vh;
    /* transform: translateZ(-1px) scale(1.5); */
}

.parallax div::before {
    content: " ";
    background-image: url(../imgs/artwork/the_abyss_map.png);
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 500vh;
    z-index: -1;
    transform: translateZ(-1px) scale(2.1);
}
/* #endregion */

/* #region Handdraw borders */
.handdrawn1,
.handdrawn2,
.handdrawn3 {
    border: 2px solid black;
}
.handdrawn1.only-bottom,
.handdrawn2.only-bottom,
.handdrawn3.only-bottom {
    border: 1px solid black;
}

.handdrawn1 {
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius: 15px 255px;
}
.handdrawn1.only-bottom {
    border: 1px solid black;
    border-left: 0px;
    border-right: 0px;
    border-bottom-left-radius: 18px 20px;
    border-bottom-right-radius: 30px 14px;
}

.handdrawn2 {
    border-top-left-radius: 25px 255px;
    border-top-right-radius: 255px 25px;
    border-bottom-right-radius: 15px 255px;
    border-bottom-left-radius: 255px 10px;
}
.handdrawn2.only-bottom {
    border: 1px solid black;
    border-left: 0px;
    border-right: 0px;
    border-bottom-left-radius: 13px 32px;
    border-bottom-right-radius: 44px 12px;
}

.handdrawn3 {
    border-top-left-radius: 25px 150px;
    border-top-right-radius: 300px 15px;
    border-bottom-right-radius: 19px 50px;
    border-bottom-left-radius: 500px 10px;
}
.handdrawn3.only-bottom {
    border: 1px solid black;
    border-left: 0px;
    border-right: 0px;
    border-bottom-left-radius: 500px 10px;
    border-bottom-right-radius: 50px 30px;
}

/* #endregion */

/* #region Page layout */
#pages-wrapper {
    overflow-y: auto;
    margin-top: var(--nav-bar-size);
}

.page-wrapper {
    display: block;
    height: min-content;
    min-height: 100vh;
    margin-bottom: var(--nav-bar-size);
}

.page {
    display: block;
    height: calc(100% - var(--nav-bar-size));
    min-height: inherit;
    padding: 23px;
}

/*.page-wrapper:not(:first)>.page {
    margin-top: var(--nav-bar-size);
}*/

/* #endregion */

/* #region ##Home## */
#home .page {
    background: url("../imgs/artwork/orth.png");
    background-size: auto 100%;
    background-position-x: center;
}
#home .page .flex {
    height: 100%;
}
#home .page .flex img {
    display: block;
}
/* #endregion */

/* #region ##Trailer## */
#trailer .page {
    background: url("../imgs/artwork/wallpaper-2.jpg");
    background-size: cover;
}
#trailer .page div {
    height: 100%;
}
#yt-trailer {
    margin: auto;
}
/* #endregion */

/* #region ##Cast&Crew## */
#cast-and-crew .page {
    background: url("../imgs/artwork/garden.png");
    background-size: cover;
}
/* #region >Cast */
#characters {
    margin-bottom: 1%;
}
/* #endregion */

/* #region >Crew */
#crew>.member>img {
    height: 290px;
    object-fit: initial;
}

/* #endregion */

/* #endregion */

/* #region ##Gallery## */
#gallery .page {
    background: url("../imgs/artwork/wallpaper-3.jpg");
    background-size: cover;
}
#images {
    padding: 15px;
}

#images>.card {
    margin: 2% 5%;
    margin-top: 0px;
}

#images>.card img {
    height: 350px;
    width: 240px;
    object-fit: cover;
    transform: scale(1.15);
}

/* #endregion */

/* #region ##Reviews## */
#reviews .page {
    padding-left: 5%;
    padding-right: 5%;
    background: url("../imgs/artwork/made-in-abyss-ed.jpg");
    background-size: cover;
}
.card-container .card.rating {
    padding: 15px;
}

/* If a rating is use-based then we add the amount of users who contributed and a tooltip*/
.rating.user-based {
    cursor: help;
}
.rating.user-based::after {
    content: " (" attr(data-reviews) ")";
}

/* These are fixes to make the logos display properly */
.card.rating#anidb-rating {
    background-color: #B1B3B5;
}
.card.rating#anidb-rating img {
    height: 150px;
    transform: scale(1.4);
}

.card.rating#mal-rating img {
    height: 65px;
    transform: none;
}

.card.rating#imdb-rating {
    background-color: #191919;
    color: white;
}
.card.rating#imdb-rating img {
    height: 100px;
    transform: none;
}

.card.rating#animeflv-rating {
    background-color: #2F353A;
    color: white;
}
.card.rating#animeflv-rating img {
    height: 90px;
    transform: scale(0.9);
}

/* #region Star rating widget */
/* To show the amount of stars each site gave,
we transform the score into a percentage
then we apply that percentage to the width of
the yellow stars.
Also, we place black stars behind the yellow
stars so when we hide them, the blacks are shown */
.star-rating {
    display: inline-block;
    width: min-content;
    height: 1em;
    position: relative;
}
.star-rating > span {
    display: inline-block;
}
.star-rating .black-star {
    color: black;
}
.star-rating .yellow-star {
    width: calc(10% * var(--rating));
    color: yellow;
    position: absolute;
    top: 0px;
}
.star-rating ~ .rating {
    align-self: flex-end;
    margin-right: 6px;
}
/* #endregion */
/* #endregion */
