body {
}
#pages {
    display: block;
    width: 99vw;
    background-color: rgba(0, 0, 0, 0);
}
/* #region Parallax WIP */
/* https://alligator.io/css/pure-css-parallax/ */
.parallax {
    perspective: 2px;
}
#pages::after {
    background-image: url("../imgs/artwork/the_abyss_map.png");
    position: absolute;
    transform: translateZ(-1px) scale(1.5);
    content: " ";
    background-size: 100%;
    z-index: -1;
    top: 0;
    right: 0;
    height: 500vh;
    left: 0;
}
/* #endregion */
#pages > .page-wrapper {
    display: block;
    height: 100vh;
}
#pages > .page-wrapper > .page {
    margin-top: var(--nav-bar-size);
    display: block;
    height: calc(100% - var(--nav-bar-size));
    padding: 1cm;
}


/* #region Home */
#home .page {
    background: url("../imgs/artwork/wallpaper.jpg") 
}
/* #endregion */

/* #region Trailer */
#trailer .page div {
}
/* #endregion */

/* #region Cast */
.characters {
    display: flex;
    justify-content: space-around;
}
.character {
    background-color: white;
    border: 2px solid black;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
/* #endregion */

#galeria + .page {
    background-color: darkcyan;
}

#criticas + .page {
    background-color: tomato;
}