:root {
    --nav-bar-size: 63px;
}
#nav-bar {
    position: fixed;
    top: 0px;
    overflow: visible;
}
#nav-buttons {
    background-color: #555555;
    position: absolute;
    width: 100vw;
    align-items: center;
}
.nav-button {
    padding: 10px;
    padding-right: 25px;
}
.nav-button > a {
    color: white;
    text-decoration: none;
}
.logo {
    display: block;
    height: 63px;
    padding: 10px;
    object-fit: contain;
}