body {
    perspective: 2px;
}
#pages {
    display: block;
    width: 99vw;
    background-color: rgba(0, 0, 0, 0);
}
https://alligator.io/css/pure-css-parallax/
#pages::after {
    background-image: url("./imgs/artwork/the_abyss_map.png");
    position: absolute;
    transform: translateZ(-1px) scale(1.5);
    content: " ";
    background-size: 100%;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#pages > .page-wrapper {
    display: block;
    height: 100vh;
}
#pages > .page-wrapper > .page {
    padding-top: var(--nav-bar-size);
    display: block;
    height: 100%;
}


/* #region Home */
#home .page {
    background: url("./imgs/artwork/wallpaper.jpg") 
}
/* #endregion */

/* #region Trailer */

/* #endregion */

#cast .page {
    display: flex;
    justify-content: space-around;
}
#cast .actor {

}

#cast + .page {
    background-color: blueviolet;
}
#cast + .page 

#galeria + .page {
    background-color: darkcyan;
}

#criticas + .page {
    background-color: tomato;
}
