#pages {
    display: block;
    width: 99vw;
    background-color: blue;
    background-image: url("./imgs/artwork/the_abyss_map.png");
}
#pages > .page-wrapper {
    display: block;
    height: 100vh;
}
#pages > .page-wrapper > .page {
    padding-top: var(--nav-bar-size);
}


/* #region Home */
#home .page {
    background: url("./imgs/artwork/wallpaper.jpg") 
}
/* #endregion */

/* #region Trailer */

/* #endregion */

#cast .page {
    display: flex;
    justify-content: space-around;
}
#cast .actor {

}

#cast + .page {
    background-color: blueviolet;
}
#cast + .page 

#galeria + .page {
    background-color: darkcyan;
}

#criticas + .page {
    background-color: tomato;
}
